@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  nav li{
    height: 50px;
}
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
  nav a:hover{
    background-color: #f0f0f0;
}
  nav li:first-child{
    margin-right: auto;
}
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
  .sidebar li{
    width: 100%;
}
  .sidebar a{
    width: 100%;
}
  .menu-button{
    display: none;
}

h1{
    color:rgb(26, 45, 88);
    transition-duration: 0.3s;
    font-size: 38px;

}
h1:hover{
    color:   rgb(252, 186, 79);
    text-align: center;
    font-size: 42px;

}
h2{
    color:rgb(238, 241, 247);
    transition-duration: 0.3s;
    font-size: 42px;

}
h2:hover{
    color:   rgb(252, 186, 79);
    text-align: center;
    font-size: 46px;

}
h3{
    color:rgb(26, 45, 88);
    transition-duration: 0.3s;
    font-size: 30px;
    margin-left: 20px;


}
h3:hover{
    color:   rgb(252, 186, 79);
    font-size: 32px;
    margin-left: 30px;


}
p{

    padding: 0%;
    margin-left: 30px;
}
.img{
    width: 1220px;
    height: 420px;
    border-radius: 10px;

    transition-duration: 0.3s;

}
.img:hover{
    border-radius: 20px;
    width: 1240px;
    height: 440px;

}
.image-container {
    position: relative;
  }
  
  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card {
    width: 25%;
    height: 50%;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 5px 7px 7px rgb(26, 45, 88);

    background-color:rgb(26, 45, 88) ;

    border-radius: 10px;
    transition-duration: 0.3s;
  }
  .card:hover{
    width: 25%;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;


    box-shadow: 5px 7px 7px rgb(252, 186, 79);

  }
  .card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-info {
    padding: 20px;
    text-align: center;
  }
  
  .card-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-info p {
    font-size: 14px;
    color: rgb(252, 186, 79);
  }
  h4{
    color: #f9f0f0;
    font-size: 22px;
  }

  .game-container1 {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
  }
  
  .card2 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card2-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card2-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: none;
  }
  
  .start1-btn, .reset1-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .score1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .game1-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .game1-image {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .game1-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card3 {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
  }
  
  .card-info3 {
    position: absolute;
    font-size: 22px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .card3:hover img {
    opacity: 0.5;
  }
  
  .card3:hover .card-info3 {
    opacity: 1;
  }
 h4{
    color: rgb(252, 186, 79);
    text-align: center;

 } 
 /*footer*/
 .footer-container{
    padding: 50px;
    margin: 0 60px;
}

.footer-content{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    border: 2px solid  #8E2DE2;
}

.footer-email-subsciption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-email{
    padding: 12px 30px;
    text-align: center;
    color: white;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    margin: 10px; 
    transition: 0.5s;
}

.footer-input-email:hover{
    color: #8e2de2;
}

.footer-subscribe-button{
    padding: 10px 12px;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.footer-subscribe-button:hover{
    color: #8e2de2;
}

footer 
{
background-color:rgb(4, 15, 39);
color: #fff;
padding: 5px 0;
text-align: center;
font-family: Arial, sans-serif;
}

.footer-container-1 {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
flex: 1;
margin: 20px;
min-width: 250px;
}

.footer-section h2 {
font-size: 20px;
margin-bottom: 15px;
border-bottom: 2px solid #fff;
display: inline-block;
padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
font-size: 14px;
line-height: 1.8;
}

.footer-section ul {
list-style: none;
padding: 0;
}

.footer-section ul li {
margin-bottom: 10px;
}

.footer-section ul li a {
color: #fff;
text-decoration: none;
transition: color 0.3s;
}


.footer-section .social-icons {
margin-top: 10px;
}

.footer-section .social-icons a {
color: #fff;
margin: 0 10px;
font-size: 18px;
transition: color 0.3s;
}

/* .footer-section .social-icons a:hover {
color: #8E2DE2;
} */

/* #quick-links{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
} */


@media only screen and (min-width: 601px) and (max-width: 768px) {
    .menu-container{
        flex-wrap: wrap;
        display: block;
    }

    .menu-icon{
        display: block;

    }

    .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
      }
}

@media only screen and (max-width: 600px){
    .menu-container{
        flex-wrap: wrap;
    }
    .menu-icon{
        display: block;

    }

    .sidebar{
        width: 100%;
      }
    
}