body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(245, 243, 236);
    color: #333;
    font-family: 'poppins', sans-serif;
}
section#menu {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.menu-title {
    text-align: center;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    text-align: center;
    max-width: 250px;
    margin: 10px;
}

.menu-item img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.menu-item img:hover {
    transform: scale(1.05);
    background-color: (252, 186, 79)
}

.addbtn {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addbtn:hover {
    background-color: #2980b9;
}
#cart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
    display: none; /* Hidden initially */
}

#cart-list {
    list-style: none;
    padding: 0;
}

#cart-list li {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}
.container{
    padding: 0px 50px;
}

.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px ;
}

.nav-logo{
    height: 80px;
    cursor: pointer;
}

li{
    list-style: none;
    display: inline-block;
    position: relative;
}

li a{
    color:rgb(26, 45, 88) ;
    font-size: 20px;
    /* font-weight: bold; */
    margin-right: 45px;
    overflow: hidden;
}

li a:hover{
    color:rgb(26, 45, 88) ;
}
li a::after{   
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(26, 45, 88);
    transition: all 0.5s;
    pointer-events: none;
    
}

li a:hover::after{
    width: 70%;
}

.nav-login{
    background-color: transparent;
    margin-left: 10px;
    padding: 8px 20px;
    font-size: 17px;
    /* font-weight: bold; */
    border-radius: 3px;
    cursor: pointer;
}

.nav-login:hover{
    background-color: rgb(252, 186, 79);
    box-shadow:  0 0 5px 0 black;
    transition: 0.5s;
}

.nav-sign{
    background-color: rgb(252, 186, 79);
    margin-left: 10px;
    padding: 8px 18px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: rgb(245, 243, 236);
}

.nav-sign:hover{
    box-shadow:  0 0 5px 0 black;
    transition: 0.4s;
}

.line{
    width: 100%;
    height: 1.5px;
    border: 0 none;
    background-color:rgb(26, 45, 88) ;
}