body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: url("./../images/sign-up/back.img.jpeg") no-repeat;
    height: 100vh;
    background-size: cover;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px 40px;
    border: 1px solid rgb(186, 203, 244);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0px 5px rgb(186, 203, 244);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color:  rgb(94, 140, 247);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:rgb(245, 243, 236);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    outline: none;
    font-size: 16px;
    color:rgb(245, 243, 236);
}

button {
    background-color: transparent;
    margin-left: 10px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    background-color:rgb(245, 243, 236);
    box-shadow: 0 0 10px rgb(94, 92, 92);
    width: 100%;
    outline: none;
    border: none;
    height: 45px;
    color:  rgb(29, 96, 255);
}

button:hover {
    background-color: rgb(252, 186, 79);
    transition: 0.7s;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
    color:rgb(245, 243, 236);
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color:  rgb(94, 140, 247);
}

.register-link p a:hover {
    text-decoration: underline;
}
